*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'SolaimanLipi', Arial, sans-serif;
   background: rgb(234, 231, 231);
    text-align: center;
    padding: 20px;
    color: #333;
}

.my-photo{
    width: 150px;
    height: 150px;
    position: relative;
    border-radius: 50%;
    border-left: 6px solid rgb(2, 27, 219);
    border-right: 10px solid rgb(2, 27, 219);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

.my-photo img{
    position: absolute;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 4px solid rgb(230, 12, 12);
    border-right: 4px solid rgb(230, 12, 12);
    animation: 15s my-photo infinite;
}

@keyframes my-photo{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(720deg);
    }
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
h1 {
    color: #27ae60;
    margin-bottom: 20px;
    animation: 1.5s eid infinite;
}

@keyframes eid {
    0% { opacity: 1; }
    50% { opacity: 0.7; 
        color: red;
    }
    100% { opacity: 1;
        color: blue;
    }
}

.amnar-name{
    font-size: 1.2rem;
    font-weight: 600;
}

input {
    padding: 12px;
    width: 70%;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}
.greeting {
    font-size: 24px;
    margin-top: 30px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    display: none;
}
.eid-mubarak {
    color: #e74c3c;
    font-weight: bold;
    font-size: 28px;
    margin-top: 10px;
    animation: blink 1.5s infinite;
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.7; 
        color: #27ae60;
    }
    100% { opacity: 1;
        color: #e74c3c;
    }
}
.mosque-icon {
    font-size: 40px;
    margin: 20px 0;
}